<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Foundation</string>
	<string>UIKit</string>
	<string>AV Foundation</string>
	<string>Core Animation</string>
	<string>Quartz Core</string>
	<string>Core Data</string>
	<string>Core Foundation</string>
	<string>Core Graphics</string>
	<string>Game Kit</string>
	<string>Media Player</string>
</array>
</plist>
