<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Mac OS X 10.5</string>
		<key>Icon File Path</key>
		<string>/Developer/Platforms/MacOSX.platform/MacOSX.icns</string>
		<key>URL</key>
		<string>file:///Library/Developer/Shared/Documentation/DocSets/com.apple.ADC_Reference_Library.CoreReference.docset/Contents/Resources/Documents/referencelibrary/API_Fundamentals/Cocoa-api-date.html</string>
		<key>Alt URL 1</key>
		<string>file:///Developer/Documentation/DocSets/com.apple.ADC_Reference_Library.CoreReference.docset/Contents/Resources/Documents/referencelibrary/API_Fundamentals/Cocoa-api-date.html</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mac OS X 10.6</string>
		<key>Icon File Path</key>
		<string>/Developer/Platforms/MacOSX.platform/MacOSX.icns</string>
		<key>URL</key>
		<string>file:///Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.AppleSnowLeopard.CoreReference.docset</string>
		<key>Alt URL 1</key>
		<string>file:///Developer/Documentation/DocSets/com.apple.adc.documentation.AppleSnowLeopard.CoreReference.docset</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>iPhone 2.0</string>
		<key>Icon File Path</key>
		<string>/Developer/Platforms/iPhoneOS.platform/iPhoneOS.icns</string>
		<key>URL</key>
		<string>file:///Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone2_0.iPhoneLibrary.docset/Contents/Resources/Documents/navigation/Frameworks/docdata.js</string>
		<key>Alt URL 1</key>
		<string>file:///Developer/Platforms/iPhoneOS.platform/Developer/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone2_0.iPhoneLibrary.docset/Contents/Resources/Documents/navigation/Frameworks/docdata.js</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>iPhone 2.1</string>
		<key>Icon File Path</key>
		<string>/Developer/Platforms/iPhoneOS.platform/iPhoneOS.icns</string>
		<key>URL</key>
		<string>file:///Developer/Platforms/iPhoneOS.platform/Developer/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone2_1.iPhoneLibrary.docset/Contents/Resources/Documents/navigation/docdata.js</string>
		<key>Alt URL 1</key>
		<string>file:///Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone2_1.iPhoneLibrary.docset/Contents/Resources/Documents/navigation/docdata.js</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>iPhone 2.2</string>
		<key>Icon File Path</key>
		<string>/Developer/Platforms/iPhoneOS.platform/iPhoneOS.icns</string>
		<key>URL</key>
		<string>file:///Developer/Platforms/iPhoneOS.platform/Developer/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone2_2.iPhoneLibrary.docset/Contents/Resources/Documents/navigation/docdata_allresources.js</string>
		<key>Alt URL 1</key>
		<string>file:///Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone2_2.iPhoneLibrary.docset/Contents/Resources/Documents/navigation/docdata.js</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>iPhone 3.0</string>
		<key>Icon File Path</key>
		<string>/Developer/Platforms/iPhoneOS.platform/iPhoneOS.icns</string>
		<key>URL</key>
		<string>file:///Developer/Platforms/iPhoneOS.platform/Developer/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone3_0.iPhoneLibrary.docset/Contents/Resources/Documents/navigation/docdata_allresources.js</string>
		<key>Alt URL 1</key>
		<string>file:///Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone3_0.iPhoneLibrary.docset/Contents/Resources/Documents/navigation/docdata.js</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>iPhone 3.1</string>
		<key>Icon File Path</key>
		<string>/Developer/Platforms/iPhoneOS.platform/iPhoneOS.icns</string>
		<key>URL</key>
		<string>file:///Developer/Platforms/iPhoneOS.platform/Developer/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone3_1.iPhoneLibrary.docset</string>
		<key>Alt URL 1</key>
		<string>file:///Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone3_1.iPhoneLibrary.docset</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>iPhone 3.2</string>
		<key>Icon File Path</key>
		<string>/Developer/Platforms/iPhoneOS.platform/iPhoneOS.icns</string>
		<key>URL</key>
		<string>file:///Developer/Platforms/iPhoneOS.platform/Developer/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone3_2.iPhoneLibrary.docset</string>
		<key>Alt URL 1</key>
		<string>file:///Library/Developer/Shared/Documentation/DocSets/com.apple.adc.documentation.AppleiPhone3_2.iPhoneLibrary.docset</string>
	</dict>
</array>
</plist>
